*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}
h1,h2 {
  margin: 0;
}

p {
  margin: 0;
}

@import '~normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/list';
@import 'style/chekbox';
@import 'style/media';